<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Members </h1>
    <table>
        {%for i in mymembers %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.firstname }}</td>
                <td>{{ i.lastname }}</td>
                <td> <a href="delete/{{ i.id }}"> delete </a> </td>
            </tr>
        {% endfor %}
    </table>
    <p> 
        <a href="add/"> Add member </a> 
    </p>
</body>
</html>